params {
    // Defaults
    project_dir = "/data/gent/vo/000/gvo00082/vsc48905/Project/Preprocessing/Shimada" // adjust with current dataset directory 
    reads = "${project_dir}/fastq/*.fastq.gz"
    genome = "/data/gent/vo/000/gvo00082/vsc48905/Genomes/Genome/GRCh38.primary_assembly.genome.fa"
    transcriptome_url = "/data/gent/vo/000/gvo00082/vsc48905/Genomes/Transcriptome/gencode.v42.transcripts.fa.gz"
    gencode_gtf_url = "/data/gent/vo/000/gvo00082/vsc48905/Genomes/Genome/gencode.v49.chr_patch_hapl_scaff.annotation.gtf"
    outdir = "${project_dir}/Nextflow_Results"
}

includeConfig 'conf/base.config'        // points to base.config file 
includeConfig 'conf/modules.config'     // points to modules.confis file

profiles {
    cluster {
        process.executor = 'pbs'                    // PBS cluster structure (HPC-UGent)
        process.queue = 'short'                     // Use short queue by default 
        process.clusterOptions = '-l nodes=1:ppn=1' // Use these flags in every job submission
    }
}

apptainer {
    enabled = true                          // Turn apptainer on
    autoMounts = true                       // Enable container to see files 
    cacheDir = "$VSC_DATA/apptainer_cache"  // Put container images in scratch folder
}
conda {
    enabled = true                          // Turn conda on
    useMamba = false                        // Turn mamba off 
}