// Define resources
process {
    // 1. Define dynamic defaults
    // If it fails, retry with 8GB a higher profile
    cpus   = 1
    memory = { 8.GB * task.attempt }    // task.attempt --> dynamic 
    time   = { 4.h  * task.attempt }
    
    errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' } // if one of these error status --> use higher profile
    maxRetries    = 2                                                                 // if job fails --> double the resources

    // 2. Define dynamic profile
    withLabel: process_low {
        cpus   = 2
        // Start at 8GB, double to 16GB on retry
        memory = { 8.GB * task.attempt }
        time   = { 2.h  * task.attempt }
    }
    
    withLabel: process_medium {
        cpus   = 8
        // Start at 32GB, double to 64GB on retry
        memory = { 32.GB * task.attempt }
        time   = { 12.h  * task.attempt }
    }
    
    withLabel: process_high {
        cpus   = 8
        // Start at 64GB, double to 128GB on retry
        memory = { 64.GB * task.attempt }
        time   = { 24.h  * task.attempt }
    }
    
    withLabel: process_high_memory {
        cpus   = 8
        memory = {380.GB}                          
        time   = { 72.h }                                                          
    }
}