process {
    // automization of where files will be saved
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: 'copy',
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }                       // filter: do not save .yml files
    ]

    withName: FASTQC {
        container = 'docker://staphb/fastqc:latest'
    }

    withName: FASTPLONG {
        conda = '/data/gent/vo/000/gvo00082/vsc48905/Environments/Conda/fastplong'
    }

    withName: MINIMAP2 {
        container = 'docker://staphb/minimap2:2.26'
        ext.args = '-ax splice -uf --secondary=no -md'                                                  // external arguments for minimap2 module
    }

    withName: TRANSCRIPT_CLEAN {
        container = 'docker://genomicpariscentre/transcriptclean:2.0.2'
    }

    withName: 'TALON.*' {
        conda = '/scratch/gent/vo/000/gvo00082/vsc48905/talon_py37'
    }

    withName: SQANTI3 {
        conda = '/data/gent/vo/000/gvo00082/vsc48905/Environments/Conda/sqanti3'
    }

    withName: 'SALMON.*' {
        container = 'docker://combinelab/salmon:1.10.0'
    }

    withName: MULTIQC {
        container = 'docker://staphb/multiqc:latest'
    }
}