process {
    // Automization of where files will be saved
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: 'copy',
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename } // Filter: do not save .yml files
    ]

    withName: 'CLEAN_GENOME|FASTPLONG|MINIMAP2' {
        publishDir = [ enabled: false ]
    }

    withName: FASTQC {
        container = 'https://depot.galaxyproject.org/singularity/fastqc:0.12.1--hdfd78af_0'
    }

    withName: FASTPLONG {
        container = 'https://depot.galaxyproject.org/singularity/fastplong:0.2.2--heae3180_0'
    }

    withName: MINIMAP2 {
        container = 'https://depot.galaxyproject.org/singularity/mulled-v2-66534bcbb7031a148b13e2ad42583020b9cd25c4:3161f532a5ea6f1dec9be5667c9efc2afdac6104-0'
        ext.args = '-ax splice -uf --secondary=no -MD' // Corrected -md to -MD (Minimap2 standard)
    }

    withName: 'ISOQUANT' {
        container = 'https://depot.galaxyproject.org/singularity/isoquant:3.6.2--hdfd78af_0'
    }

     withName: 'SQANTI3' {
    container = "${System.getenv('VSC_SCRATCH_VO_USER')}/apptainer_cache/sqanti3_latest.sif"
    }

    withName: MULTIQC {
        container = 'https://depot.galaxyproject.org/singularity/multiqc:1.26--pyhdfd78af_0'
    }
}